<header></header>
<div class="nav-logo-container">
  <a routerLink="/" class="nav-logo-link">
    <img
      src="../../assets/images/American_Heart_Association_Logo.svg.png"
      alt="American Heart Association" />
    <img
      src="../../assets/images/stem-logo-color.svg"
      alt="American Heart Association – STEM Initiative"
  /></a>
</div>
<div class="nav-container">
  <nav class="nav-links">
    <a routerLink="/" routerLinkActive="active">STEM</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/leadership" routerLinkActive="active">Leadership</a>
    <a routerLink="/volunteer" routerLinkActive="active">Volunteer</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/donate" routerLinkActive="active" class="red-btn">Donate</a>
  </nav>
</div>
