<footer>
  <section class="footer">
    <div class="footer__col contact">
      <img
        src="../../assets/images/stem-logo-color.svg"
        alt="STEM Logo"
        class="footer__logo"
      />
      <h3>National Center</h3>
      <p>
        7272 Greenville Ave.<br />
        Dallas, TX 75231
      </p>
      <h3>Custom Service</h3>
      <p>
        <a href="#">1-800-AHA-USA-1</a><br />
        <a href="#">1-800-242-8721</a>
      </p>
    </div>
    <div class="footer__col about">
      <h3>About</h3>
      <ul>
        <li><a href="#">About AHA STEM</a></li>
        <li><a href="#">2021-2022 Annual</a></li>
        <li><a href="#">Financial Information</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">SHOP</a></li>
        <li><a href="#">Latest Heart &amp; Stroke News</a></li>
        <li><a href="#">Media/Newsroom</a></li>
      </ul>
    </div>
    <div class="footer__col our-sites">
      <h3>Our Sites</h3>
      <ul>
        <li><a href="#">American Heart Associations</a></li>
        <li><a href="#">American Stroke Association</a></li>
        <li><a href="#">Professional Heart Daily</a></li>
        <li><a href="#">More Sites</a></li>
      </ul>
    </div>
    <div class="footer__col take-action">
      <h3>Take Action</h3>
      <ul>
        <li><a href="#">Advocate</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Planned Giving</a></li>
        <li><a href="#">Volunteer</a></li>
      </ul>
    </div>
    <div class="footer__col communities">
      <h3>Online Communities</h3>
      <ul>
        <li><a href="#">AFib Support</a></li>
        <li><a href="#">Garden Community</a></li>
        <li><a href="#">Patient Support Network</a></li>
        <li><a href="#">Professional Online Support</a></li>
      </ul>
    </div>
  </section>
  <section class="social">
    <a href="#"
      ><img src="../../assets/images/social-twitter.svg" alt="STEM Twitter"
    /></a>
    <a href="#"
      ><img src="../../assets/images/social-facebook.svg" alt="STEM Facebook"
    /></a>
    <a href="#"
      ><img src="../../assets/images/social-instagram.svg" alt="STEM Instagram"
    /></a>
    <a href="#"
      ><img src="../../assets/images/social-pinterest.svg" alt="STEM Pinterest"
    /></a>
    <a href="#"
      ><img src="../../assets/images/social-youtube.svg" alt="STEM YouTube"
    /></a>
    <a href="#"
      ><img src="../../assets/images/social-rss.svg" alt="STEM RSS Feed"
    /></a>
  </section>
  <section class="copyright">This is only a prototype project.</section>
</footer>
