<div class="about">
  <div class="about__img">
    <img src="../../assets/images/img-2.jpg" alt="STEM Goes Red" />
  </div>
  <div class="about__content">
    <h1>STEM Goes Red</h1>
    <p>
      The American Heart Association is working to engage more women in STEM
      through STEM Goes Red. The program draws from the association’s strong
      legacy of science, education and discovery to help propel young women into
      rewarding STEM careers.
    </p>
    <p>
      STEM Goes Red brings interesting careers in science, technology,
      engineering and mathematics to life for young women. By giving students
      access to leading employers and experts, they have the chance for an
      insider look at what they do. STEM Goes Red attendees gain firsthand
      experience, connect with inspiring professionals and learn about jobs
      across STEM fields. Students can walk away feeling like a whole new world
      of STEM has been revealed — a world in which they can truly love what they
      do and make a tremendous impact.
    </p>
  </div>
</div>
