@import "../../sass/mixins";

.about {
  max-width: 1322px;
  margin: 4rem auto;
  padding: 0 2rem;
  line-height: 1.8;
  display: flex;

  &__img {
    flex: 1;
    img {
      padding: 0 1.75rem;
      width: 100%;
      filter: grayscale(1);
      //   overflow: hidden;
    }
  }

  &__content {
    flex: 1;
    h1 {
      font-size: 2rem;
      font-weight: 500;
      color: $red;
      line-height: 1.4;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 1.25rem;
    }
  }
}
