@import "../../sass/mixins";

h1 {
  font-weight: 400;
  color: $red;
  text-align: center;
  margin: 1.25rem 0;
}

.events {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.event {
  color: $red;
  width: 400px;
  padding: 1rem;
  @media (max-width: 768px) {
    grid-column: 1 / -1;
    margin: 0 auto;
  }
  &__icon {
    width: 80px;
    margin-bottom: 0.8rem;
  }
  &__title {
  }
  &__date-time {
    font-size: 1.2rem;
  }
  &__location {
    font-size: 0.9rem;
  }
}
