<div class="container">
  <h1>News &amp; Events</h1>
  <div class="events">
    <div class="event">
      <img
        src="../../assets/images/icon.svg"
        alt="STEM Icon"
        class="event__icon"
      />
      <h2 class="event__title">STEM Goes Red Conference</h2>
      <div class="event__date-time">October 19, 2022 • 1:00PM - 5:00PM</div>
      <div class="event__location">The Omni Hotel • Dallas, TX</div>
      <a routerLink="events" class="btn btn__green">Register Here</a>
    </div>

    <div class="event">
      <img
        src="../../assets/images/mentor-icon.svg"
        alt="STEM Icon"
        class="event__icon"
      />
      <h2 class="event__title">Mentor/Mentee Interactions</h2>
      <div class="event__date-time">November 2022 - May 2022</div>
      <div class="event__location">
        Real-life experience in a STEM career <br />Mentor and Mentee
        Interactions<br />Pi Day - March 14, 2022
      </div>
      <a routerLink="events" class="btn btn__orange">Learn More</a>
    </div>

    <div class="event">
      <img
        src="../../assets/images/committee-icon.svg"
        alt="STEM Icon"
        class="event__icon"
      />
      <h2 class="event__title">Steering Committee Meeting</h2>
      <div class="event__date-time">You're My Why</div>
      <div class="event__location">
        Provide expertise in producing an impactful and educational program.
      </div>
      <a routerLink="events" class="btn btn__purple">Learn More</a>
    </div>
  </div>
</div>
