@import "../../sass/mixins";

.leadership-container {
  max-width: 1322px;
  margin: 2rem auto;
  padding: 2rem;
}

.page-title {
  color: $red;
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-top: 0;
}

.leadership {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  margin: 2rem 0;

  @media (min-width: 36em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 52em) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 68.75em) {
    grid-template-columns: repeat(4, 1fr);
  }

  .leader {
    width: 100%;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.25);

    @media (min-width: 32em) {
      //   max-width: 300px;
    }

    &:hover {
      cursor: pointer;

      .leader__bio {
        background-color: $orange;
      }
      .leader__img img {
        transform: scale(140%);
        filter: saturate(100%);
      }
      .leader__name {
        color: $red;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      background: $red;
      color: #fff;
    }
    &__exp {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      padding: 0 1rem;
      .years {
        font-size: 3.2rem;
        margin-right: 8px;
        font-weight: 700;
      }
    }
    &__bio {
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background: #ba1d14;
      transition: 0.2s all ease-in-out;

      a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #fff;
      }
    }
    &__img {
      overflow: hidden;
      width: 100%;
      height: 300px;
      position: relative;
      img {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%;
        filter: saturate(0%);
        transform: scale(130%);
        transition: 0.2s all ease-in-out;
      }
    }
    &__name {
      text-align: center;
      padding: 1rem;
      font-size: 1.2rem;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 0.2s all ease-in-out;
      //   color: $red;

      @media (min-width: 36em) {
        font-size: 1.5rem;
      }
      @media (min-width: 52em) {
        font-size: 1.25rem;
      }

      h2 {
        font-size: 1.6rem;

        @media (min-width: 36em) {
          // font-size: 1.2rem;
        }
        @media (min-width: 52em) {
          font-size: 1.4rem;
        }
      }
    }
  }
}
