<div class="hero">
  <!-- <img
    src="../../../assets/images/img-1.jpg"
    alt="Science Image"
    class="hero__img"
  /> -->
  <div class="hero__content">
    <img
      src="../../../assets/images/science-icon.svg"
      alt="STEM Icon"
      class="hero__icon"
    />
    <div class="hero__text">
      <h1 class="hero__header">We Need Scientists</h1>
      <div class="hero__caption">
        We are advancing groundbreaking new research which will unlock ways we
        can improve and save lives.
      </div>
    </div>
  </div>

  <div class="hero__img"></div>
</div>
