@import "../../../sass/_mixins.scss";

.hero {
  height: 90vh;
  overflow: hidden;
  // background-color: $orange;
  color: white;

  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20%;

  &.Scientists {
    background: linear-gradient(rgba($orange, 0.6), rgba($orange, 0.6)),
      url(../../../assets/images/img-1.jpg) no-repeat center;
  }
  &.Technologists {
    background: linear-gradient(rgba($green, 0.6), rgba($green, 0.6)),
      url(../../../assets/images/img-1.jpg) no-repeat center;
  }
  &.Engineers {
    background: linear-gradient(rgba($purple, 0.6), rgba($purple, 0.6)),
      url(../../../assets/images/img-1.jpg) no-repeat center;
  }
  &.Mathematicians {
    background: linear-gradient(rgba($blue, 0.6), rgba($blue, 0.6)),
      url(../../../assets/images/img-1.jpg) no-repeat center;
  }
  &.You {
    background: linear-gradient(rgba($red, 0.6), rgba($red, 0.6)),
      url(../../../assets/images/img-1.jpg) no-repeat center;
  }

  &__content {
    max-width: 80vw;
    width: 100%;
    margin: 0 auto 10% 0;
    margin-top: 5vw;
    animation: fade-in 1s 0.5s forwards;
  }

  &__text {
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  }
  &__header {
    font-weight: 300;
    font-size: 5rem;
    span {
      font-weight: 700;
    }
  }
  &__caption {
    font-size: 1.5rem;
  }
}
