<app-hero></app-hero>
<div class="frontpage-content">
  <div class="icon-set">
    <img
      src="../../assets/images/science-icon.svg"
      alt="Science Icon"
      class="icon"
    />
    <img
      src="../../assets/images/tech-icon.svg"
      alt="Technology Icon"
      class="icon"
    />
    <img
      src="../../assets/images/engineering-icon.svg"
      alt="Engineering Icon"
      class="icon"
    />
    <img src="../../assets/images/math-icon.svg" alt="Math Icon" class="icon" />
  </div>
  <div class="frontpage-text">
    <p>
      <span class="red"><strong>STEM Goes Red</strong></span> is our initiative
      to power the next great medical breakthroughs by investing in a younger
      generation of future researchers, biomedical engineers and innovators.
    </p>
    <p>
      As a science-based organization, the largets cardiovascular disease
      research funder, and the broker between education, industry, healthcare
      systems and government, we are committed to moving forward the fields of
      <span class="orange"><strong>science</strong></span
      >, <span class="green"><strong>technology</strong></span
      >, <span class="purple"><strong>engineering</strong></span
      >, and <span class="cyan"><strong>math</strong></span> (STEM).
    </p>
  </div>
</div>
