@import "../../sass/mixins";

.frontpage-content {
  max-width: 820px;
  margin: 4rem auto;
  text-align: center;
  line-height: 1.8;
}

.icon-set {
  //   width: 100%;
  //   max-height: 60px;
  margin-bottom: 1rem;
}

.icon {
  width: 60px;
  margin: 0 12px;
}

.frontpage-text {
  font-size: 1.1rem;
  color: $black;
  p:first-child {
    margin-bottom: 1rem;
  }
}

.join {
  background-color: $red;
  display: block;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-weight: 400;

  &:hover {
    background-color: red;
  }

  &.donate {
    background-color: $green;
    &:hover {
      background-color: limegreen;
    }
  }
}
