@import url("https://use.typekit.net/eog7ubg.css");
@import "./sass/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1.5;
  font-family: "ingra", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  @media (min-width: 32em) {
    font-size: calc(16px + 8 * ((100vw - 500px) / 1500));
  }
  @media (min-width: 62.5em) {
    font-size: calc(13px + 8 * ((100vw - 500px) / 1500));
  }
  @media (min-width: 100em) {
    font-size: 18px;
  }
}

// img,
// picture,
// video,
// canvas,
// svg {
//   display: block;
//   max-width: 100%;
// }
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.red {
  color: $red;
}
.orange {
  color: $orange;
}
.green {
  color: $green;
}
.purple {
  color: $purple;
}
.cyan {
  color: $blue;
}

/* –––– LAYOUT START –––– */

.container {
  padding: 1.5rem;
}

/* –––– LAYOUT END –––– */

/* –––– BUTTONS START –––– */

.btn {
  display: block;
  padding: 0.8rem 2rem;
  // border-radius: 6px;
  background-color: transparent;
  border: 1px solid;
  width: 100%;
  margin: 1.5rem 0;
  text-decoration: none;
  transition: 0.2s all ease-in-out;

  &__green {
    border-color: $green;
    color: $green;

    &:hover {
      background-color: $green;
      color: #fff;
    }
  }
  &__orange {
    border-color: $orange;
    color: $orange;

    &:hover {
      background-color: $orange;
      color: #fff;
    }
  }
  &__purple {
    border-color: $purple;
    color: $purple;

    &:hover {
      background-color: $purple;
      color: #fff;
    }
  }
}

/* –––– BUTTONS END –––– */
